<template name="layout">
 	<head>
    <meta charset="utf-8">
    <title>GD EMR</title>
    <meta name="description" content="GD EMR">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="images/favicon.ico">    
  </head>
  {{> menu}}
  {{> yield}}
  <footer>
    <div class="container">
      <div class="row">
      	<div class="col-md-5 col-lg-5">
          <p>&copy; Lightsoft </p>
        </div>
        <div class="col-md-7 col-lg-7">
          <p class="text-right">
            Global Doctor, Shengyang          
          </p>
        </div>
      </div>
    </div>
  </footer>
	
</template>