<template name="layout">
 	<head>
    <meta charset="utf-8">
    <title>GD EMR</title>
    <meta name="description" content="GD EMR">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="images/favicon.ico">    
  </head>
	<div id="main">
  {{> menu}}
  {{> yield}}
	</div>
	<footer>
		<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<img src="/gd.jpg" alt="gd logo" height="100" width="300">
			</div>
			<div class="col-xs-6 text-right">
				<address>
					<strong>Shenyang Clinic</strong><br>
				  De Ji Hospital No. 54 Pangjiang Street<br>  
					Dadong District Shenyang, China 110042<br>
					<abbr title="Telephone">Tel:</abbr> (8624) 24330678<br>
					shengyang@globaldoctor.com.au
				</address>
			</div>
		</div>
	</div>
	</footer>
	
</template>
