<template name="patient">
  
    <div class="container">
      {{#if isInRole 'admin' 'doctor'}}
      {{#with patient}}
      {{> patientNav}}
      
      <div class="row">
        <div class="col-md-6">
          <h4>Last Visit</h4>
				{{#with lastVisit}}
        <div class="visit">
          <p><strong>Visit Date: {{visitDate}} </strong>             
          </p>
          <p><strong>Chief Complaint: </strong> {{chiefComplaint}}</p>            
          <ul class="list-inline">
            <li><strong>T </strong>(&ordm;C): {{vitalSign.temperature}}</li>
            <li><strong>BP</strong>: {{vitalSign.bp}}</li>
            <li><strong>P </strong>(bpm): {{vitalSign.pulse}}</li>
            <li><strong>RR </strong>: {{vitalSign.rr}}</li>
            <li><strong>O2 </strong>(%): {{vitalSign.o2}}</li>
          </ul>
          <ul class="list-inline">
            <li><strong>Wt </strong>(kg): {{vitalSign.weight}}</li>
            <li><strong>Ht </strong>(cm): {{vitalSign.height}}</li>
            <li><strong>BMI </strong>: {{vitalSign.bmi}}</li>
            <li><strong>HC </strong>(cm): {{vitalSign.hc}}</li>
          </ul>
          <p><strong>Subjective: </strong> {{subjective}}</p>
          <p><strong>Physical Exam</strong></p>
          <ul>
						{{#if physical.general}}
            <li><strong>General: </strong> {{physical.general}}</li>
						{{/if}}
						{{#if physical.heent}}
            <li><strong>HEENT: </strong> {{physical.heent}}</li>
						{{/if}}
						{{#if physical.neck}}
            <li><strong>Neck: </strong> {{physical.neck}}</li>
						{{/if}}
						{{#if physical.respiratory}}
            <li><strong>Respiratory: </strong> {{physical.respiratory}}</li>
						{{/if}}
						{{#if physical.cardiac}}
            <li><strong>Cardiac: </strong> {{physical.cardiac}}</li>
						{{/if}}
						{{#if physical.abdomen}}
            <li><strong>Abdomen: </strong> {{physical.abdomen}}</li>
						{{/if}}
						{{#if physical.gu}}
            <li><strong>GU: </strong> {{physical.gu}}</li>
						{{/if}}
						{{#if physical.reactal}}
            <li><strong>Rectal: </strong> {{physical.rectal}}</li>
						{{/if}}
						{{#if physical.extremities}}
            <li><strong>Extremities: </strong> {{physical.extremities}}</li>
						{{/if}}
						{{#if physical.back}}
            <li><strong>Back: </strong> {{physical.back}}</li>
						{{/if}}
						{{#if physical.skin}}
            <li><strong>Skin: </strong> {{physical.skin}}</li>
						{{/if}}
						{{#if physical.breast}}
            <li><strong>Breast: </strong> {{physical.breast}}</li>
						{{/if}}
						{{#if physical.neuro}}
            <li><strong>Neuro: </strong> {{physical.neuro}}</li>
						{{/if}}
						{{#if physical.psych}}
            <li><strong>Psych: </strong> {{physical.psych}}</li>           
						{{/if}}
          </ul>

          <p><strong>Tests: </strong> {{tests}}</p>
          <p><strong>Assessment: </strong> {{assessment}}</p>
          <p><strong>Plan: </strong> {{plan}}</p>
          <p><strong>Followup: </strong> {{followUp}}</p>
          <p><strong>Created By: {{userName createdBy}}</strong></p>
          <p><strong>Created At: {{formatDate createdAt 'long'}}</strong></p>
          <p><strong>Last Updated By: {{userName updatedBy}}</strong></p>
          <p><strong>Last Updated At: {{formatDate updatedAt 'long'}}</strong></p>
        </div>
        {{/with}}
          <a href="/patients/{{_id}}/visits/new" class="visit-link">New Visit</a>
          <h4>Recent Visits</h4>
          <ul class="list-unstyled">
						{{#each recentVisits}}
						<li><a href="/patients/{{../_id}}/visits/{{_id}}" class="visit-link">{{visitDate}}</a> {{chiefComplaint}}</li>
						{{/each}}
          </ul>
        </div>
        <div class="col-md-6">
          <div class="category">
						<a href="/patients/{{_id}}/medications">Current Medications</a>
          </div>
          <form class="form-inline" name="medicationForm">
            <div class="form-group">
              <label class="sr-only" for="medication">Medication</label>
              <input class="form-control" id="medication" placeholder="Medication" type="text" required>          
            </div>
            <div class="form-group">
              <label class="sr-only" for="dose">Dose</label>
              <input class="form-control" id="dose" placeholder="Dose" type="text">
            </div>
            <button class="btn btn-primary" type="button" id="addMedication"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <table class="table" id="medications">
            <tbody>
              {{#each medications}}
              <tr>
                <td width="40%">
                  {{name}}
                </td>
                <td>{{dose}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="category">
						<a href="/patients/{{_id}}/allergies">Allergies</a>
          </div>
          <form class="form-inline" name="allergyForm">
            <div class="form-group">
              <label class="sr-only" for="allergy">Medication</label>
              <input class="form-control" id="allergy" placeholder="Medication" required="" type="text">
            </div>
            <div class="form-group">
              <label class="sr-only" for="reaction">Reaction </label>
              <input class="form-control" id="reaction" placeholder="Reaction" type="text">
            </div>
            <button class="btn btn-primary" type="button" id="addAllergy">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
          <table class="table" id="allergies">
            <tbody>
            {{#each allergies}}
              <tr>
                <td width="40%">
                  {{medication}}
                </td>
                <td>{{reaction}}</td>
              </tr>
              {{/each}}
						</tbody>
          </table>
          <div class="category">
						<a href="/patients/{{_id}}/diagnoses">Past Diagnoses</a>
          </div>
          <form class="form-inline" name="diagnosisForm">
            <div class="form-group">
              <label class="sr-only" for="diagnosis">Diagnosis</label>
              <input class="form-control" id="diagnosis" placeholder="Diagnosis" required="" type="text">            
            </div>
            <div class="form-group">
              <label class="sr-only" for="diagnosisDate">Date </label>
              <input class="form-control" id="diagnosisDate" placeholder="Date" type="date">
            </div>
            <button class="btn btn-primary" type="button" id="addDiagnosis"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <table class="table">
            <tbody>
						{{#each diagnoses}}
              <tr>
                <td width="40%">
                  {{diagnosis}}
                </td>
                <td>{{date}}</td>
              </tr>
              {{/each}}
						</tbody>
          </table>
          <div class="category">
						<a href="/patients/{{_id}}/surgeries">Surgical History</a>
          </div>
          <form class="form-inline" name="surgeryForm">
            <div class="form-group">
              <label class="sr-only" for="surgery">Surgery </label>
              <input class="form-control" id="surgery" placeholder="Surgery" required="" type="text">
              
            </div>
            <div class="form-group">
              <label class="sr-only" for="surgeryDate">Date</label>
              <input class="form-control" id="surgeryDate" placeholder="Date" type="date">
            </div>
            <button class="btn btn-primary" id="addSurgery"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <table class="table" id="surgeries">
            <tbody>
						{{#each surgeries}}
              <tr>
                <td width="40%">
                  {{surgery}}
                </td>
                <td>{{date}}</td>
              </tr>
              {{/each}}
						</tbody>
					</table>
          <div class="category">
						<a href="/patients/{{_id}}/behaviors">Social History </a>
          </div>
          <form class="form-inline" name="behaviorForm">
            <div class="form-group">
              <label class="sr-only" for="behavior">Behavior </label>
              <input class="form-control" id="behavior" placeholder="Behavior" required="" type="text">
            </div>
            <div class="form-group">
              <label class="sr-only" for="details">Details</label>
              <input class="form-control" id="details" placeholder="Details" type="text">
            </div>
            <button class="btn btn-primary" id="addBehavior"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <table class="table" id="social">
            <tbody>
						{{#each behaviors}}
              <tr>
                <td width="40%">
                  {{behavior}}
                </td>
                <td>{{details}}</td>
              </tr>
              {{/each}}
						</tbody>
					</table>
          <h5>Family History</h5>
          <form class="form-inline" name="familyForm">
            <div class="form-group">
              <label class="sr-only" for="relation">Relation </label>
              <input class="form-control" id="relation" placeholder="Relation" required="" type="text">
            </div>
            <div class="form-group">
              <label class="sr-only" for="details">Details </label>
              <input class="form-control" id="details" placeholder="Details" required="" type="text">
            </div>
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
          <table class="table" id="family">
            <tbody><!-- ngRepeat: member in patient.family_members --></tbody>
          </table>
        </div>
      </div>
      {{/with}}

          {{else}}
          <div class="alert alert-warning" role="alert">Only doctors can see this page!</div>
          {{/if}}
        </div>       

    </template>
