<template name="patientProfileForm">
  <div class="container">
    <h4>{{#if pid}}Eidt {{else}}New {{/if}}Patient</h4>
    <div class="row">
      <div class="col-lg-12">
        {{#if isInRole 'admin' 'doctor'}}
        <form name="patientForm">
          <input type="hidden" name="pid" id="pid" value="{{pid}}">
          {{#with profile}}
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" name="name" id="name" type="text" value="{{name}}" required>
          </div>
          <div class="form-group">
            <label class="radio-inline">
              <input id="F" name="gender" type="radio" value="F" checked="{{isFemale gender}}">Female
            </label>
            <label class="radio-inline">
              <input id="M" name="gender" type="radio" value="M" checked="{{isMale gender}}">Male
            </label>
          </div>         
          <div class="form-group">
            <label for="birthday">Birthday</label>
            <input class="form-control" name="birthday" id="birthday" type="date" value="{{birthday}}">
          </div>
          <div class="form-group">
            <label for="nationality">Nationality</label>
            <input class="form-control" name="nationality" id="nationality" type="text" value="{{nationality}}">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-1 control-label" for="province">Province</label>
                <div class="col-sm-11">
                  <input class="form-control" id="province" type="text" value="{{address.province}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label" for="city">City</label>
                <div class="col-sm-11">
                  <input class="form-control" id="city" type="text" value="{{address.city}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label" for="district">District</label>
                <div class="col-sm-11">
                  <input class="form-control" id="district" type="text" value="{{address.district}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label" for="street">Street</label>
                <div class="col-sm-11">
                  <input class="form-control" id="street" type="text" value="{{address.street}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label" for="complex">Complex</label>
                <div class="col-sm-11">
                  <input class="form-control" id="complext" type="text" value="{{address.complex}}">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email </label>
            <input class="form-control" name="email" id="email" type="email" value="{{email}}">
          </div>
          <div class="form-group">
            <label for="phone">Phone </label>
            <input class="form-control" name="phone" id="phone" type="text" value="{{phone}}">
          </div>
          <div class="form-group">
            <label for="insurance">Insurance </label>
            <input class="form-control" name="insurance" id="insurance" type="text" value="{{insurance}}">
          </div>
          <div class="form-group">
            <label for="occupation">Occupation </label>
            <input class="form-control" name="occupation" id="occupation" type="text" value="{{occupation}}">
          </div>
          <div class="form-group">
            <label for="company">Company </label>
            <input class="form-control" name="company" id="company" type="text" value="{{company}}">
          </div>
          {{/with}}
          <button class="btn btn-primary save" type="button">Save</button>
        </form>         
        {{else}}
        <div class="alert alert-warning" role="alert">Only doctors can see this page!</div>
        {{/if}}

      </div>
    </div>
  </div>       

</template>