<template name="patient">
  
    <div class="container">
      {{#if isInRole 'admin' 'doctor'}}
      {{#with patient}}
      {{> patientNav}}
      
      <div class="row">
        <div class="col-md-6">
          <h4>Last Visit</h4>
          <div class="visit">
            <p><strong>Visit Date: </strong>
              
            </p>
            <p><strong>Chief Complaint: </strong></p>
            <p></p>
            <ul class="list-inline">
              <li><strong>T: </strong></li>
              <li><strong>BP: </strong></li>
              <li><strong>P:</strong></li>
              <li><strong>RR: </strong></li>
              <li><strong>O2: </strong></li>
            </ul>
            <ul class="list-inline">
              <li><strong>Wt: </strong></li>
              <li><strong>Ht:</strong></li>
              <li><strong>BMI: </strong></li>
              <li><strong>HC: </strong></li>
            </ul>
            <p></p>
            <p><strong>Assessment: </strong></p>
            <p><strong>Tests: </strong></p>
            <p><strong>Plan: </strong></p>
            <p><strong>Followup: </strong></p>
            <p><strong>Last Updated By: </strong></p>
            <p><strong>Last Updated On: </strong></p>
          </div>
          <a href="/patients/{{_id}}/visits/new">New Visit</a>
          <h4>Recent Visit</h4>
          <ul class="list-unstyled">
          </ul>
        </div>
        <div class="col-md-6">
          <div class="category">
						<a href="/patients/{{_id}}/medications">Current Medications</a>
          </div>
          <form class="form-inline" name="medicationForm">
            <div class="form-group">
              <label class="sr-only" for="medication">Medication</label>
              <input class="form-control" id="medication" placeholder="Medication" type="text" required>          
            </div>
            <div class="form-group">
              <label class="sr-only" for="dose">Dose</label>
              <input class="form-control" id="dose" placeholder="Dose" type="text">
            </div>
            <button class="btn btn-primary" type="button" id="addMedication"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <table class="table" id="medications">
            <tbody>
              {{#each medications}}
              <tr>
                <td width="40%">
                  {{name}}
                </td>
                <td>{{dose}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="category">
						<a href="/patients/{{_id}}/allergies">Allergies</a>
          </div>
          <form class="form-inline" name="allergyForm">
            <div class="form-group">
              <label class="sr-only" for="allergy">Medication</label>
              <input class="form-control" id="allergy" placeholder="Medication" required="" type="text">
            </div>
            <div class="form-group">
              <label class="sr-only" for="reaction">Reaction </label>
              <input class="form-control" id="reaction" placeholder="Reaction" type="text">
            </div>
            <button class="btn btn-primary" type="button" id="addAllergy">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
          <table class="table" id="allergies">
            <tbody>
            {{#each allergies}}
              <tr>
                <td width="40%">
                  {{medication}}
                </td>
                <td>{{reaction}}</td>
              </tr>
              {{/each}}
						</tbody>
          </table>
          <div class="category">
						<a href="/patients/{{_id}}/diagnoses">Past Diagnoses</a>
          </div>
          <form class="form-inline" name="diagnosisForm">
            <div class="form-group">
              <label class="sr-only" for="diagnosis">Diagnosis</label>
              <input class="form-control" id="diagnosis" placeholder="Diagnosis" required="" type="text">            
            </div>
            <div class="form-group">
              <label class="sr-only" for="diagnosisDate">Date </label>
              <input class="form-control" id="diagnosisDate" placeholder="Date" type="date">
            </div>
            <button class="btn btn-primary" type="button" id="addDiagnosis"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <table class="table">
            <tbody>
						{{#each diagnoses}}
              <tr>
                <td width="40%">
                  {{diagnosis}}
                </td>
                <td>{{date}}</td>
              </tr>
              {{/each}}
						</tbody>
          </table>
          <div class="category">
						<a href="/patients/{{_id}}/surgeries">Surgical History</a>
          </div>
          <form class="form-inline" name="surgeryForm">
            <div class="form-group">
              <label class="sr-only" for="surgery">Surgery </label>
              <input class="form-control" id="surgery" placeholder="Surgery" required="" type="text">
              
            </div>
            <div class="form-group">
              <label class="sr-only" for="surgeryDate">Date</label>
              <input class="form-control" id="surgeryDate" placeholder="Date" type="date">
            </div>
            <button class="btn btn-primary" id="addSurgery"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <table class="table" id="surgeries">
            <tbody>
						{{#each surgeries}}
              <tr>
                <td width="40%">
                  {{surgery}}
                </td>
                <td>{{date}}</td>
              </tr>
              {{/each}}
						</tbody>
					</table>
          <div class="category">
						<a href="/patients/{{_id}}/behaviors">Social History </a>
          </div>
          <form class="form-inline" name="behaviorForm">
            <div class="form-group">
              <label class="sr-only" for="behavior">Behavior </label>
              <input class="form-control" id="behavior" placeholder="Behavior" required="" type="text">
            </div>
            <div class="form-group">
              <label class="sr-only" for="details">Details</label>
              <input class="form-control" id="details" placeholder="Details" type="text">
            </div>
            <button class="btn btn-primary" id="addBehavior"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <table class="table" id="social">
            <tbody>
						{{#each behaviors}}
              <tr>
                <td width="40%">
                  {{behavior}}
                </td>
                <td>{{details}}</td>
              </tr>
              {{/each}}
						</tbody>
					</table>
          <h5>Family History</h5>
          <form class="form-inline" name="familyForm">
            <div class="form-group">
              <label class="sr-only" for="relation">Relation </label>
              <input class="form-control" id="relation" placeholder="Relation" required="" type="text">
            </div>
            <div class="form-group">
              <label class="sr-only" for="details">Details </label>
              <input class="form-control" id="details" placeholder="Details" required="" type="text">
            </div>
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
          <table class="table" id="family">
            <tbody><!-- ngRepeat: member in patient.family_members --></tbody>
          </table>
        </div>
      </div>
      {{/with}}

          {{else}}
          <div class="alert alert-warning" role="alert">Only doctors can see this page!</div>
          {{/if}}
        </div>       

    </template>
