<template name="patientProfile">
  <div class="container">
    {{#if isInRole 'admin' 'doctor'}}
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          {{#with profile}}
          {{> patientInfo}}
          {{/with}}
        </ol>
      </div>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/patients/{{pid}}">Summary</a></li>
        <li role="presentation"><a href="/patients/{{pid}}/visits">Visits</a></li>
        <li role="presentation" class="active"><a href="/patients/{{pid}}/profile">Profile</a></li>     
      </ul>

    <div class="row">
      <div class="col-lg-12"> 
        {{#with profile}}                         
        <p><strong>Insurance: </strong>{{insurance}}</p>
        <p><strong>Nationality: </strong>{{nationality}}</p>
        <p><strong>Address: </strong> {{address.province}}
          {{address.city}}
          {{address.district}}
          {{address.street}}
          {{address.complex}}
        </p>
        <p><strong>Occupation: </strong>{{occupation}}</p>
        <p><strong>Address: </strong>{{company}}</p>
        <p>Last Updated At: {{updatedAt}}</p>
        <p>Last Updated By: {{userName updatedBy}}</p>             
        {{/with}} 
        <div><a href="/patients/{{pid}}/profile/edit">Edit</a></div>     


      </div>
    </div>

    {{else}}
    <div class="alert alert-warning" role="alert">Only doctors can see this page!</div>
    {{/if}}
  </div>       

</template>